@import "tailwindcss";

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* evita o layout shift da scrollbar */
html {
  scrollbar-gutter: stable both-edges;
}

*, *::before, *::after {
  box-sizing: border-box;
}
